
.App { 
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid; */
}

.App .anlysis-area {
  padding-bottom: 20px;
  text-align: center;
}

.App .anlysis-area span{
  padding: 5px 10px;
  margin: 0px 5px;
}

.App .anlysis-area span:nth-child(2) {
  background-color: #ffff86;
  border-radius: 5px;
}

.App .anlysis-area span:nth-child(3) {
  background-color: skyblue;
  border-radius: 5px;
}

.App .anlysis-area span:nth-child(4) {
  background-color: pink;
  border-radius: 5px;
}

.App .anlysis-area span:nth-child(5) {
  background-color: rgb(207, 238, 160);
  border-radius: 5px;
}

/* Memo Editor CSS*/

.MemoEditor {
  width: 50%;
}

.MemoEditor div{
  margin-bottom: 10px;
}

.MemoEditor div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.MemoEditor select {
  width: 15%;
  text-align: center;
  height: 35px;
}

.MemoEditor input {
  width: 82%;
  height: 100%;
  height: 30px;
  padding-left: 10px;
}

.MemoEditor textarea { 
  width: 96.5%;
  height: 100px;
  padding: 10px;
}

.MemoEditor button {
  width: 100%;
  height: 40px
}




/* memoBoard CSS */
.memoBoard {
  width: 70%;
}

.memoBoardArea{
  display: flex;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}


/* memoItem CSS */
.memoItem{
  background-color: #ffffa0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 320px;
  padding: 10px;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


/* 삭제 */
.memoItem > div:nth-child(1){
  text-align: end;
}

.memoItem > div:nth-child(1) > button{
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

/* 제목, 주제, 작성일 */
.memoItem > div:nth-child(2){
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.memoItem > div:nth-child(2) > div{
  width: 100%;
  text-align: start;
}

.memoItem > div:nth-child(2) > div > span:first-child{
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.memoItem > div:nth-child(2) > div > span:last-child{
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}


.memoItem > div:nth-child(2) > span{
  font-size: 14px;
  color: gray;
  margin-top: 3px;
}

/* 내용 */
.memoItem > div:nth-child(3){
  min-height: 180px;
  max-height: 180px;
  padding: 10px;
  margin: 5px 0px;
  text-align: start;
  overflow: auto;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  display: none;
}

/* 수정 */
.memoItem > div:nth-child(4){
  text-align: end;
  margin-top: 3px;
}

.memoItem > div:nth-child(4) > button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: gray;
}

/* 수정중 */
.memoItem .editContent {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid gray;
  text-align: start;
}






/* 미디어 쿼리 */
@media (max-width: 1400px) {
  .App { width: 100%; }
  .MemoEditor { width: 90%; }
  .MemoEditor input { width: 82%; }
  .MemoEditor textarea { width: 97%; }
  .memoBoard {width: 90%;}
}

/* 태블릿 */
@media (max-width: 820px){
  .memoBoardArea{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}


/* 스마트폰 */
@media (max-width: 480px) {
  .App { width: 100%; }
  .memoBoardArea{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .MemoEditor { width: 90%; }
  .MemoEditor input { width: 79%; }
  .MemoEditor textarea { width: 93%; }
}
