
.App { 
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid; */
}

/* Memo Editor CSS*/

.MemoEditor {
  width: 50%;
}

.MemoEditor div{
  margin-bottom: 10px;
}

.MemoEditor div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.MemoEditor select {
  width: 15%;
  text-align: center;
  height: 35px;
}

.MemoEditor input {
  width: 82%;
  height: 100%;
  height: 30px;
  padding-left: 10px;
}

.MemoEditor textarea { 
  width: 96.5%;
  height: 100px;
  padding: 10px;
}

.MemoEditor button {
  width: 100%;
  height: 40px
}

/* 태블릿 */
@media (max-width: 1300px) {
  .App { width: 100%; }
  .MemoEditor { width: 90%; }
  .MemoEditor input { width: 82%; }
  .MemoEditor textarea { width: 97%; }
}


/* 스마트폰 */
@media (max-width: 480px) {
  .App { width: 100%; }
  .MemoEditor { width: 90%; }
  .MemoEditor input { width: 79%; }
  .MemoEditor textarea { width: 93%; }
}